@import "var/base.css";
@import "components/buttons.css";

:root {
    color-scheme: light dark;
}

html {
    background: var(--censored-bg-color);
    transition: background 0.3s ease, color 0.3s ease;
}

html.light {
    /*background*/
    --censored-bg-color: white;

    /*navbar*/
    --censored-nav-color: var(--censored-c-waves-1);
    --censored-nav-text-color: var(--censored-c-marsh-2);
    --censored-nav-hover-color: var(--censored-c-ice-1);
    --censored-nav-text-hover-color: var(--censored-c-ice-4);

    /*buttons*/
    /*switch theme color button*/
    --censored-btn-stc-bg-color: var(--censored-c-water-1);

    /*texts*/
    --censored-text-color: var(--censored-c-marsh-2);
    --censored-cover-text-color: var(--censored-c-ice-1);
    --censored-cover-text-shadow-color: var(--censored-c-ice-4);

    /*shadow*/
    --censored-shadow-color: var(--censored-c-marsh-2);

   /*scroll*/
    scrollbar-width: thin; /* 滚动条的宽度 */
    scrollbar-color: var(--censored-text-color) var(--censored-bg-color); /* 滚动条颜色 */
}

html.dark {
    /*background*/
    --censored-bg-color: var(--censored-c-dawn-4);

    /*navbar*/
    --censored-nav-color: var(--censored-c-dawn-3);
    --censored-nav-hover-color: var(--censored-c-ice-1);
    --censored-nav-text-color: var(--censored-c-waves-2);
    --censored-nav-text-hover-color: var(--censored-c-dawn-4);

    /*buttons*/
    /*switch theme color button*/
    --censored-btn-stc-bg-color: var(--censored-c-dawn-4);

    /*texts*/
    --censored-text-color: var(--censored-c-ice-3);
    --censored-cover-text-color: var(--censored-c-ice-1);
    --censored-cover-text-shadow-color: var(--censored-c-ice-4);

    /*scroll*/
    scrollbar-width: thin; /* 滚动条的宽度 */
    scrollbar-color: var(--censored-text-color) var(--censored-bg-color); /* 滚动条颜色 */
}

@media (prefers-color-scheme: light) {
    html {
        /*background*/
        --censored-bg-color: white;

        /*navbar*/
        --censored-nav-color: var(--censored-c-waves-1);
        --censored-nav-text-color: var(--censored-c-marsh-2);
        --censored-nav-hover-color: var(--censored-c-ice-1);
        --censored-nav-text-hover-color: var(--censored-c-ice-4);

        /*buttons*/
        /*switch theme color button*/
        --censored-btn-stc-bg-color: var(--censored-c-water-1);

        /*texts*/
        --censored-text-color: var(--censored-c-marsh-2);
        --censored-cover-text-color: var(--censored-c-ice-1);
        --censored-cover-text-shadow-color: var(--censored-c-ice-4);
    }
}

@media (prefers-color-scheme: dark) {
    html.dark {
        /*background*/
        --censored-bg-color: var(--censored-c-dawn-4);

        /*navbar*/
        --censored-nav-color: var(--censored-c-dawn-3);
        --censored-nav-hover-color: var(--censored-c-ice-1);
        --censored-nav-text-color: var(--censored-c-waves-2);
        --censored-nav-text-hover-color: var(--censored-c-dawn-4);

        /*buttons*/
        /*switch theme color button*/
        --censored-btn-stc-bg-color: var(--censored-c-dawn-4);

        /*texts*/
        --censored-text-color: var(--censored-c-ice-3);
        --censored-cover-text-color: var(--censored-c-ice-1);
        --censored-cover-text-shadow-color: var(--censored-c-ice-4);


    }


}
.scroll-animation {
    transform: translateY(30px) scale(1.02);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.scroll-animation.show {
    transform: translateY(0) scale(1);
    opacity: 1;
}



























