@import "var/base.css";
@import "var/vars.css";
/*page css*/
@import "components/codes.css";
@import "components/buttons.css";
@import "components/blocks.css";
@import "components/quote.css";
@import "components/list.css";
@import "components/table.css";
@import "components/img.css";

:root {
    color-scheme: light dark;
}

html {
    background: var(--censored-bg-color);
    transition: background 0.3s ease, color 0.3s ease;

}

html.light {
    /*background*/
    --censored-bg-color: white;

    /*navbar*/
    --censored-nav-color: var(--censored-c-waves-1);
    --censored-nav-text-color: var(--censored-c-marsh-2);
    --censored-nav-hover-color: var(--censored-c-ice-1);
    --censored-nav-text-hover-color: var(--censored-c-ice-4);

    /*buttons*/
    /*switch theme color button*/
    --censored-btn-stc-bg-color: var(--censored-c-water-1);

    /*texts*/
    --censored-text-color: var(--censored-c-marsh-2);
    --censored-cover-text-color: var(--censored-c-ice-1);
    --censored-cover-text-shadow-color: var(--censored-c-ice-4);

    /*shadow*/
    --censored-shadow-color: var(--censored-c-marsh-2);

   /*scroll*/
    scrollbar-width: thin; /* 滚动条的宽度 */
    scrollbar-color: var(--censored-text-color) var(--censored-bg-color); /* 滚动条颜色 */

    /*code*/
    --censored-code-bg-color: var(--censored-c-dawn-4);

    /*blockquote*/
    --censored-quote-color: var(--censored-bg-color);
    --censored-quote-bg-color: var(--censored-c-marsh-2);
    --censored-quote-shadow-color: var(--censored-c-marsh-4);
    --censored-quote-border-color: var(--censored-c-dawn-4);
    --censored-quote-text-color: var(--censored-bg-color);

    /*tables*/
    --censored-table-text-color: white;
    --censored-table-head-color: var(--censored-c-waves-4);
    --censored-table-body-odd-color: var(--censored-c-waves-2);
    --censored-table-body-even-color: var(--censored-c-waves-3);
}

html.dark {
    /*background*/
    --censored-bg-color: var(--censored-c-dawn-4);

    /*navbar*/
    --censored-nav-color: var(--censored-c-dawn-3);
    --censored-nav-hover-color: var(--censored-c-ice-1);
    --censored-nav-text-color: var(--censored-c-waves-2);
    --censored-nav-text-hover-color: var(--censored-c-dawn-4);

    /*buttons*/
    /*switch theme color button*/
    --censored-btn-stc-bg-color: var(--censored-c-dawn-4);

    /*texts*/
    --censored-text-color: var(--censored-c-ice-3);
    --censored-cover-text-color: var(--censored-c-ice-1);
    --censored-cover-text-shadow-color: var(--censored-c-ice-4);

    /*scroll*/
    scrollbar-width: thin; /* 滚动条的宽度 */
    scrollbar-color: var(--censored-text-color) var(--censored-bg-color); /* 滚动条颜色 */

    /*code*/
    --censored-code-bg-color: var(--censored-c-dawn-4);

    /*blockquote*/
    --censored-quote-color: var(--censored-nav-color);
    --censored-quote-bg-color: var(--censored-c-purple-4);
    --censored-quote-shadow-color: var(--censored-c-dawn-4);
    --censored-quote-border-color: var(--censored-c-dawn-4);
    --censored-quote-text-color: var(--censored-text-color);

    /*tables*/
    --censored-table-text-color: var(--censored-text-color);
    --censored-table-head-color: var(--censored-c-db-3);
    --censored-table-body-odd-color: var(--censored-c-db-2);
    --censored-table-body-even-color: var(--censored-c-dawn-4);
}

@media (prefers-color-scheme: light) {
    html {
        /*background*/
        --censored-bg-color: white;

        /*navbar*/
        --censored-nav-color: var(--censored-c-waves-1);
        --censored-nav-text-color: var(--censored-c-marsh-2);
        --censored-nav-hover-color: var(--censored-c-ice-1);
        --censored-nav-text-hover-color: var(--censored-c-ice-4);

        /*buttons*/
        /*switch theme color button*/
        --censored-btn-stc-bg-color: var(--censored-c-water-1);

        /*texts*/
        --censored-text-color: var(--censored-c-marsh-2);
        --censored-cover-text-color: var(--censored-c-ice-1);
        --censored-cover-text-shadow-color: var(--censored-c-ice-4);

        /*shadow*/
        --censored-shadow-color: var(--censored-c-marsh-2);

        /*blockquote*/
        --censored-quote-color: var(--censored-bg-color);
        --censored-quote-bg-color: var(--censored-c-marsh-2);
        --censored-quote-shadow-color: var(--censored-c-marsh-4);
        --censored-quote-border-color: var(--censored-c-dawn-4);
        --censored-quote-text-color: var(--censored-bg-color);
    }
}

@media (prefers-color-scheme: dark) {
    html.dark {
        /*background*/
        --censored-bg-color: var(--censored-c-dawn-4);

        /*navbar*/
        --censored-nav-color: var(--censored-c-dawn-3);
        --censored-nav-hover-color: var(--censored-c-ice-1);
        --censored-nav-text-color: var(--censored-c-waves-2);
        --censored-nav-text-hover-color: var(--censored-c-dawn-4);

        /*buttons*/
        /*switch theme color button*/
        --censored-btn-stc-bg-color: var(--censored-c-dawn-4);

        /*texts*/
        --censored-text-color: var(--censored-c-ice-3);
        --censored-cover-text-color: var(--censored-c-ice-1);
        --censored-cover-text-shadow-color: var(--censored-c-ice-4);

        /*blockquote*/
        --censored-quote-color: var(--censored-nav-color);
        --censored-quote-bg-color: var(--censored-c-purple-4);
        --censored-quote-shadow-color: var(--censored-c-dawn-4);
        --censored-quote-border-color: var(--censored-c-dawn-4);
        --censored-quote-text-color: var(--censored-text-color);
    }


}
.scroll-animation {
    transform: translateY(30px) scale(1.02);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.scroll-animation.show {
    transform: translateY(0) scale(1);
    opacity: 1;
}


@media only screen and (min-width: 1400px){
    .scroll-animation.show {
        transform: translateY(0) scale(1);
        opacity: 1;
        overflow: hidden;
    }
}



























